/* ------------------ GLOBAL ------------------ */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  color: black;
  margin: 0;
  padding: 0;
}

/* Headlines use Newsreader */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Newsreader', serif;
  font-weight: 700;
}

/* Navbar */
.navbar {
  background-color: #7FFBF0 !important;
  transition: all 0.3s;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-brand img {
  height: 42px;
  transition: height 0.3s ease;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

/* Navbar shrink on scroll */
.navbar-scroll .navbar-brand img {
  height: 33px;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Utility spacing */
.mb-4 {
  margin-bottom: 1.5rem !important;
}
.mb-5 {
  margin-bottom: 3rem !important;
}
